<% layout("/layouts/boilerplate") %>
 
<body>
   

<div class="row  mt-3">

    <div class="col-8 offset-2">
        
        <h3>Update Listing</h3>
        <form method="POST" action="http://localhost:3000/listings/<%=listing._id%>?_method=PATCH" class="needs-validation" novalidate>

            <div class="input mb-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" name="listing[title]" id="title" class="form-control" required value="<%=listing.title%>">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Title.
                  </div>
            </div>

            <div class="input mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea name="listing[description]" id="description" class="form-control"  required cols="50" rows="4" ><%=listing.description%></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Description.
                  </div>
            </div>

            <div class="input mb-3">
                <label for="image" class="form-label">Image URL:</label>
                <input type="text" name="listing[image]" id="image"  required class="form-control" value="<%=listing.image%>">

            </div>
            <div class="row">
                <div class="input mb-3 col-md-4">
                    <label for="price" class="form-label">Price:</label>
                    <input type="number" name="listing[price]" id="price" class="form-control"  required value="<%=listing.price%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Price.
                      </div>
                </div>
                <div class="input mb-3 col-md-8">
                    <label for="country" class="form-label">Country:</label>
                    <input type="text" name="listing[country]" id="country" class="form-control" required  value="<%=listing.country%>">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please choose a Country.
                      </div>
                </div>

            </div>
            <div class="input mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" name="listing[location]" id="location"  class="form-control"  required value="<%=listing.location%>">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please choose a Location.
                  </div>
            </div>

      

            <button type="submit" class="btn btn-dark add-btn mt-3 mb-5">Update</button>
           
        </form>
    </div>
</div>
</body>


